<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="section/head ::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="section/header ::header"></header>
<main>
    <div class="container">
        <h2>User edit</h2>
        <div class="mb-3">
            <form th:action="${clientId != 0 ? '/edit-client' : '/edit-landlord'}" method="post">
                <input type="hidden" name="id" th:value="${user.id}">
                <input th:if="${clientId != 0 }" type="hidden" name="clientId" th:value="${clientId}">
                <div class="mb-4">
                    <label class="form-label" for="firstname">Firstname</label>
                    <input type="text" id="firstname" name="firstname" th:value="${user.firstname}" class="form-control" />
                </div>
                <div class="mb-4">
                    <label class="form-label" for="surname">Surname</label>
                    <input type="text" id="surname" name="surname" th:value="${user.surname}" class="form-control" />
                </div>
                <div class="mb-4">
                    <label class="form-label" for="patronymic">Patronymic</label>
                    <input type="text" id="patronymic" name="patronymic" th:value="${user.patronymic}" class="form-control" />
                </div>
                <div class="mb-4">
                    <label class="form-label" for="telephoneNumber">Telephone number</label>
                    <input type="text" id="telephoneNumber" name="telephoneNumber" th:value="${user.telephoneNumber}" class="form-control" />
                </div>
                <th:block th:if="${apartmentPreference != null}">
                    <h3>Preference apartment</h3>
                    <input type="hidden" name="apartmentPreferenceId" th:value="${apartmentPreference.id}">
                    <div class="mb-4">
                        <label class="form-label" for="address">Address</label>
                        <input type="text" id="address" name="address" th:value="${apartmentPreference.address}" class="form-control" />
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="area">Area</label>
                        <input type="number" id="area" name="area" th:value="${apartmentPreference.area}" class="form-control" />
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="numRooms">Number of rooms</label>
                        <input type="number" id="numRooms" min="1" maxlength="10" name="numRooms" th:value="${apartmentPreference.numRooms}" class="form-control" />
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="rentCost">Rental cost</label>
                        <input type="text" id="rentCost" name="rentCost" th:value="${apartmentPreference.rentCost}" class="form-control" />
                    </div>
                </th:block>
                <input type="submit" class="btn btn-outline-primary btn-rounded" value="Edit">
            </form>
        </div>
    </div>
</main>
<th:block th:insert="section/footer ::footer"></th:block >
</body>
</html>